.feedback-table-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
  }
  
  .feedback-table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 16px;
    text-align: left;
  }
  
  .feedback-table th, .feedback-table td {
    padding: 12px;
    border-bottom: 1px solid #ddd;
  }
  
  .feedback-table th {
    background-color: #f4f4f4;
    color: #333;
    font-weight: bold;
  }
  
  .feedback-table tr:hover {
    background-color: #f1f1f1;
  }
  
  .feedback-table td {
    vertical-align: top;
  }
  


  /* pagination  */

.pagination {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination button {
  padding: 5px 10px;
  margin: 0 5px;
  width: 100px;
  background-color: snow;
  color: black;

}

.pagination button:hover {
  background-color: #ffcf40;
  transform: scale(1.05);
}

.pagination span {
  margin: 0 10px;
}

